# 1manipulate using list

In [ ]:
# 1a) add new elements at end of list

In [2]:
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

In [3]:
mylist.append('orange')
mylist

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#1b) to reverse elements in list

In [4]:
mylist.reverse();
mylist

['orange', 'cherry', 'banana', 'apple']

In [ ]:
# 1cto display the same list of items multiple items

In [6]:
mylist

['orange', 'cherry', 'banana', 'apple']

In [2]:
mylist = ["apple", "banana", "cherry"]
res = []
# repeat elements K times
for i in mylist:
    res.extend([i]*2)
    
print(res)

['apple', 'apple', 'banana', 'banana', 'cherry', 'cherry']

In [6]:
#1d to conacate two list
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]
    # using + operator to concat
test_list1= test_list1 + test_list2
print(test_list1)

[1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [7]:
#1e sort the list
test_list1.sort();
print(test_list1)

[1, 2, 3, 4, 5, 5, 5, 5, 6, 7]

# 2tuples

In [8]:
#2a) manipulate using tuples
mytuple = ("apple", "banana", "cherry")
mytuple

('apple', 'banana', 'cherry')

In [10]:
#2b) add new elements at end of tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [17]:
#2c Reverse items in list
def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
    

tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [20]:
#2d)to display the items of same tuple multiple times
  
# Initializing and printing tuple 
myTup = (32, 8)
N = 4  
repeatTuple = ((myTup, ) * N)
  
# printing result
print(repeatTuple)

((32, 8), (32, 8), (32, 8), (32, 8))

In [21]:
#2e)to conact two tuples


# initialize tuples
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)
res = test_tup1 + test_tup2


print(res)

(1, 3, 5, 4, 6)

In [23]:
#2f) sort the the elements in ascending order
tuple = ('Itika', 'Arshia', 'Peter', 'Parker')  
list(tuple).sort()   
print(tuple)  
print(type(tuple))

('Itika', 'Arshia', 'Peter', 'Parker')
<class 'tuple'>

# 3 list

In [24]:
#3a)create a list with min 10 numbers
a=[1,2,3,4,5,6,7,8,876,121]
a

[1, 2, 3, 4, 5, 6, 7, 8, 876, 121]

In [26]:
#3b) display the last numbaer in the list

a=[1,2,3,4,5,6,7,8,876,121]

# using pop() to print last list element
print(a.pop())

121

In [27]:
#3e)command to  display from the list [0:4] 
a[0:5]

[1, 2, 3, 4, 5]

In [28]:
#3f) command to  display from the list [2:] 
a[2:]

[3, 4, 5, 6, 7, 8, 876]

In [29]:
#3e) command to  display from the list [:6]
a[:7]

[1, 2, 3, 4, 5, 6, 7]

# 4tuple

In [32]:
#4a) display from 10 and 50 from tupl1
tupl1=(10,50,20,40,30)
mylist = list(tupl1)
print(mylist)
print(type(mylist))
mylist[0:2]

[10, 50, 20, 40, 30]
<class 'list'>

[10, 50]

In [33]:
#4b)length of tupl1
len(tupl1)

5

In [34]:
#4c minimum element from tupl1
min(tupl1)

10

In [62]:
#4d) summ of aall elemets 
tes=list(tupl1)
sum = 0
for i in tes:
    sum +=i;
    
print(sum)

150

In [36]:
#4e) to display the same tuple multiple times

N = 4  
repeatTuple = ((tupl1, ) * N)
  
# printing result
print(repeatTuple)

((10, 50, 20, 40, 30), (10, 50, 20, 40, 30), (10, 50, 20, 40, 30), (10, 50, 20, 40, 30))

# 5 python programs

In [37]:
#5a cal lenght of string
s= "geeks"
len(s)

5

In [39]:
#5b reverse words in a string 
s=" i am a coder"
# initial string
stringlength=len(s) # calculate length of the list
slicedString=s[stringlength::-1] # slicing 
print (slicedString) # print the reversed string

redoc a ma i

In [42]:
#5c) to display a string multiple times
print("i am a coder \n"*3)

i am a coder
i am a coder
i am a coder

In [ ]:
#5d concat two strings


s1="Hello"
s2="world"
s1=s1+s2

print(s1)

In [48]:
#5e 
str1="South India"
s= slice(6,11,1)
print(str1[s])

India

# 6 dictionary

In [49]:
#6a create dictionary
Dict = {'name':'raja', 'age': 24, 'city': 'ranchi'}

print(Dict)

{'name': 'raja', 'age': 24, 'city': 'ranchi'}

In [51]:
#6b) accessing values and keys 
for i in Dict:
    print(i, Dict[i])

name raja
age 24
city ranchi

In [52]:
#6c update dictionary using a function 
car = {
  "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [53]:
#6d clear and delete dictonary values in python
car =	{
  "brand": "Ford",
  "model": "Mustang",
  
}

car.clear()

print(car)

{}

In [ ]:
#7 wap to insert a number to any postion in list

In [57]:
# input list
lst = ["Hello",20, "boys", "code"]
print(lst)

insertItem = "sample"

index = 2
lst.insert(index, insertItem)

print(lst)

['Hello', 20, 'boys', 'code']
['Hello', 20, 'sample', 'boys', 'code']

In [59]:
#8 wap to delete an element from list by index
List = ["Welcome", "to", "manchester"]

idx = 2


del List[idx]


print("List after deleting specified list item:", List)

List after deleting specified list item: ['Welcome', 'to']

In [61]:
#9 wap to diaplay a number from 1 to 100
for i in range(1,101):
    print(i);

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [74]:
#10 to display sum of all items in tuple
numTuple = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(" Tuple Items = ", numTuple)

tupleSum = 0
for i in numTuple:
    tupleSum = tupleSum + i

print(tupleSum)

 Tuple Items =  (11, 22, 33, 44, 55, 66, 77, 88, 99)
495

In [ ]:
#11 create a dictionary conating three lambda functions square,cube,squareroot

In [76]:
#11
def addi(n):
    dict = { 'Square': lambda a : a**2, 
         'Cube': lambda a : a**3, 
         'Squareroot': lambda a : a**(1/2)
         }
    sum = 0
    for key in dict.keys():
        sum += dict[key](n)
    return sum
    
print(addi(10))

1103.1622776601685

In [ ]:
#12 find the words from list whoe that have second charachter in upper case

In [81]:
ls=['hello','Dear','hOw','Are','You']

SyntaxError: incomplete input (484060421.py, line 4)

In [ ]:
#13

# control structures

In [108]:
#1 wap to find the first N prime numbers
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 1
Please, Enter the Upper Range Value: 100
The Prime Numbers in the range are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#2

In [109]:
#3 wap to search a for string in a list 
# assign list
l = [1, 2.0, 'have', 'a', 'leg', 'day']

# assign string
s = 'leg'

# check if string is present in the list
if s in l:
    print(f'{s} is present in the list')
else:
    print(f'{s} is not present in the list')

leg is present in the list

In [129]:
#4 wap python fucntion that accepts a string and cal no upper case and no of lower case letters
Str="GeeksForGeeks"
lower=0
upper=0
for i in Str:
    if(i.islower()):
            lower+=1
    else:
            upper+=1
print("The number of lowercase characters is:",lower)
print("The number of uppercase characters is:",upper)

The number of lowercase characters is: 10
The number of uppercase characters is: 3

In [131]:
#5 wap to display the sum of oddnumber from 12 to 37
sum=0;
for i in range(12,38):
    if(i%2!=0):
        sum+=i
print(sum)

325

In [133]:
#6 wap to print table any number
n=7;
i=10;
for i in range(1,11):
    print(n*i ,"\n")

7

14

21

28

35

42

49

56

63

70

In [137]:
#7 wap print of sum frst 1o prime no

lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
sum=0
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:
            sum+=number

       
    
    
print(sum)

Please, Enter the Lowest Range Value: 1
Please, Enter the Upper Range Value: 10
The Prime Numbers in the range are:
17

In [145]:
#8 wap to implement airthmatic operations
a = int(input("Enter first value: "))
b = int(input("Enter second value: "))
print("Press 1 for Addittion \nPress 2 for Subtraction \nPress 3 for Multiplication \nPress 4 for Division")
option = int(input("Enter your option: "))
if option == 1:
    result = a+b
    print("Addition : ", result)
    
elif option == 2:
        result = a-b
        print("Subtraction : ",result)
elif option == 3:
        result = a*b
        print("Multiplication : ", result)
elif option == 4:
        result = a/b
        print("Division : ",result)
else:
    print("Invalid Value")

Enter first value: 4
Enter second value: 5
Press 1 for Addittion
Press 2 for Subtraction
Press 3 for Multiplication
Press 4 for Division
Enter your option: 2
Subtraction :  -1

In [147]:
#9 celecius to farenheit
c= int(input("enter the temp: "))
faren= c*1.8+32
print("the temp in farenheit : ", faren)

enter the temp: 45
the temp in farenheit :  113.0

In [149]:
#10 max, min without using inbuilt
l=[45,54,-2,54,99]
max= l[0];
for i in range(len(l)):
    if l[i]>max:
        max=l[i]
        
        
print(max) 

min=l[0];
for i in range(len(l)):
    if l[i]<min:
        min=l[i]
        
print(min)

99
-2

In [151]:
#11 no of seconds in a 30 day month
days=30
hours=24
minutes=60
seconds=60
print('number of second in a month :' , days*hours*minutes*seconds)

number of second in a month : 2592000

In [152]:
#12no of seconds in a year
days=365
hours=24
minutes=60
seconds=60
print('number of second in a year :' , days*hours*minutes*seconds)

number of second in a year : 31536000

In [154]:
#13 time ,distnace ,speed
speed_milesperhr= 150

distance_miles=414
time= float(distance_miles/speed_milesperhr)

print(time);

2.76

In [155]:
#14 hours spend from 7 to 11
days_in_each_school_year=192
hours_eachday= 6

total_days=4*192
print("no of hours spend from 7 to 11 :",total_days*hours_eachday)

no of hours spend from 7 to 11 : 4608

In [170]:
#15
# Python program to find the largest
# number among the three numbers



num1 = int(input("Enter ram age: "))
num2 = int(input("Enter shyam age: "))
num3 = int(input("Enter khan age: "))

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
     largest = num2
else:
    largest = num3

print("The eldest son is", largest)

Enter ram age: 13
Enter shyam age: 14
Enter khan age: 15
The eldest son is 15

In [172]:
#16 to rotate list by n times with and without slicing technique
# Python program to right rotate
# a list by n using list slicing
n = 2

list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)]
          + list_1[0:len(list_1) - n])
print(list_1)

[5, 6, 1, 2, 3, 4]

In [174]:

def pypart(n):
# outer loop to handle number of rows
# n in this case
    for i in range(0, n):

# inner loop to handle number of columns
# values changing acc. to outer loop
        for j in range(0, i+1):

# printing stars
            print("* ",end="")

# ending line after each row
        print("\n")

n = 5
pypart(n)

*

* *

* * *

* * * *

* * * * *

In [177]:

def triangle(n):

# number of spaces
    k = n - 1

# outer loop to handle number of rows
    for i in range(0, n):

# inner loop to handle number spaces
# values changing acc. to requirement
        for j in range(0, k):
            print(end=" ")

# decrementing k after each loop
        k = k - 1

# inner loop to handle number of columns
# values changing acc. to outer loop
        for j in range(0, i+1):

# printing stars
            print("* ", end="")

# ending line after each row
        print("\n")

n = 5
triangle(n)

    *

   * *

  * * *

 * * * *

* * * * *